.columns1 {
  float: left;
  width: 400px;
  padding: 20px;
  background-color: pink;
}

.columns2 {
  float: left;
  width: 400px;
  padding: 20px;
  padding-bottom: 38px;
  background-color: brown;
}

img {
  width: 300px;
}

h1 {
  text-align: center;
}

body {
  background-color: grey;
  font-family: sans-serif;
}

.intro p {
  border: 2px  solid black;
  font-size: 1.2em;
  padding: 4px;
  font-weight: bold;
}

.columns1 p {
font-style: italic;
}
 .columns2 p {
font-style: italic;
 }
